NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_CALENDAR_ID=

BARBERSHOP_TIMEZONE=America/Sao_Paulo
ADMIN_ACCESS_TOKEN=
ALLOW_BLOCKS_OUTSIDE_SUNDAY=false
